<%= form_tag search_path, { enforce_utf8: false, method: 'get', id: 'search-form', class: 'navbar-form navbar-left', role: 'search' } do %>
  <%= content_tag(:div, { class: 'form-group' }) do -%>
    <%= text_field_tag(:query, params['query'], { id: 'query', class: 'form-control', placeholder: 'Search...' }) %>
  <% end -%>
  <%= content_tag(:div, { class: 'form-group' }) do -%>
    <%= text_field_tag(:location, params['location'], { id: 'location', class: 'form-control', placeholder: 'near post code or city...' }) %>
  <% end -%>
  <%= button_tag("Search", { type: 'submit', name: nil, class: 'btn btn-default' }) %>
<% end %>
