<% if flash[:error].present? %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>

<% if flash[:success].present? %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>
