<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "EM", root_path, { class: 'navbar-brand' } %>
    </div>

    <%= render "layouts/nav/search_form" %>

    <div class="nav navbar-right">
      <% if current_user.logged_in? %>
        <p class="navbar-text">
          Welcome <%= current_user.name %>,
          <%= link_to "Sign out", signout_path, { id: 'logout-btn' } %>
        </p>
      <% else %>
        <%= content_tag(:a, fa_icon("facebook", text: "Sign In"), { 
          id:    'login-btn',
          href:  '/auth/facebook',
          class: 'btn btn-primary navbar-btn',
        }) %>
      <% end %>
    </div>
  </div>
</nav>

