<!DOCTYPE html>
<html>
<head>
  <title>EMarket</title>
  <% if Rails.env.production? %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <% else %>
    <%= stylesheet_link_tag 'bootstrap_base', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/nav" %>
  <%= render "layouts/flash_messages" %>

<%= yield %>

</body>
</html>
